body{
    padding: 0;
    margin: 0;
}
    .parent{
        float: left;
        width: 1000px;
        height: 500px;
        /*background-color: #48f951;*/
        position: relative;
    }
    .subParent{
        float: left;
        width: 982px;
        height: 482px;
        position: absolute;
        z-index: 999;
        border: 1px dashed #e53039;
        margin: 7px 0px 0px 7px;  
    }
    .leftContent{
        float: left;
        width: 488px;
        height: 500px;
        z-index: 99;
        background-color: #c1d4f2;
        background-size: 100% 100%;
  
    }
    .centerContent{
        float: left;
        width: 21px;
        height: 500px;  
        background-color: white;
        z-index: 99;
        border: 1px dashed #e53039;

    }
    .rightContent{
        float: left;
        width: 488px;
        height: 500px;
        z-index: 99;
        background-color: #c1d4f2;
        background-size: 100% 100%;
    }
    #myCanvas{
        float: left;
        position: absolute !important;
        z-index: 999;
    }
    .upper-canvas{
        position: absolute !important;
        z-index: 9999;
    }
    .canvas-container{
        position: absolute !important;
        z-index: 9998;
    }
    .btnList{
        float: left;
        width: 100%;
        height: auto;
    }
    .btnList li{
        float: left;
        width: auto;
        height: auto;
    }
    .btnList li a{
        color: #f27d30;
        padding: 9px 15px;
        text-align: center;
        background-color: #c1d4f2;
        font-size: 12px;
    }